body {
    background-color: rgb(71, 110, 174);
    margin: 0;
    padding: 0;
}

#heading1 {
    background-color: rgb(72, 179, 175);
    color: rgb(246, 255, 153);
    margin: 0;
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
   
    position: static;
}

.choices {
    display: flex;
    gap: 80px;
    justify-content: center; 
    margin-top: 50px; 
    
   
}


.choices img {
    width: 300px; 
    height: 300px;
    object-fit: cover; 
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid rgb(167, 227, 153);

}

.choices img:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31 ;
}

.choices > div:hover {
    background-color: #081b31;
    border-radius: 50%;
   
}
.scoreboard {
    text-align: center;
    display:flex;
    gap:150px;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 3rem;
    margin:40px;

}


#user-score, #comp-score{
    font-size:4rem;
}
.msg-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#msg {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    background-color: rgb(72, 179, 175);
    color: rgb(246, 255, 153);
    display: inline;
    /* width: fit-content; */
}